<div class="d-flex">
    <h3 class="card-title p-2">{{ message }}</h3>
    <div class="ml-auto p-2">
        <a class="btn btn-outline-info" [routerLink]="['/agenda/contacto']">Regresar al listado</a>
    </div>
</div>

<div class="form-control">
    <form (ngSubmit)="saveContacto()" #contactoForm="ngForm">
        <div class="form-group">
            <label for="nombreApe">Nombre y Apellidos</label>
            <input type="text" class="form-control" [class.is-invalid]="!nombreApe.valid && !nombreApe.pristine" id="nombreApe" #nombreApe="ngModel" name="nombreApe" [(ngModel)]="contacto.nombreApe" required>
            <div [hidden]="nombreApe.valid || nombreApe.pristine" class="invalid-feedback">El nombre y los apellidos del contacto son requeridos</div>
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" placeholder="nombre@ejemplo.com" class="form-control" [class.is-invalid]="!correo.valid && !correo.pristine" id="correo" #correo="ngModel" name="correo" [(ngModel)]="contacto.correo" required>
            <div [hidden]="correo.valid || correo.pristine" class="invalid-feedback">El correo electónico es requerido</div>
        </div>
        <div class="form-group">
            <label for="numero">Número de Teléfono</label>
            <input type="text" class="form-control" [class.is-invalid]="!numero.valid && !numero.pristine" id="numero" #numero="ngModel" name="numero" [(ngModel)]="telefono.numero" required>
            <div [hidden]="numero.valid || numero.pristine" class="invalid-feedback">Al menos un número de teléfono es requerido</div>
        </div>
        <div class="form-group">
            <div class="d-flex">
                <button type="button" [disabled]="!numero.valid" (click)="addArrTelefono()" id="bottontell" name="bottontell" class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Agregar otro número telefónico" [disabled]="!numero.valid">+ Añadir teléfono</button>
            </div>
        </div>
        <div *ngFor="let t of telefonos; let i=index">
            <div class="form-group">
                <div class="form-inline">
                    <input type="text" style="width:98%" [(ngModel)]="t.numero" placeholder="otro número telefónico" class="form-control" name="{{i}}" required>
                    <a (click)="delArrTelefono(i)"><i class="fa fa-trash" style="margin-left:3px"></i></a>
                </div>
            </div>
        </div>
        <div class="form-group">
                <label for="nombre">Grupo</label>
                <select [(ngModel)]="group" multiple class="form-control" name="nombre" id="nombre">
                    <option *ngFor="let r of grupos" [ngValue]="r">Grupo de {{r.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="alias">Alias</label>
                <input type="text" class="form-control" id="alias" name="alias" [(ngModel)]="contacto.alias">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="contacto.direccion">
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-outline-info ml-auto" data-toggle="tooltip" data-placement="top" title="Guardar los datos" [disabled]="!contactoForm.valid">Guardar</button>
            </div>
</form>
</div>